[core]
  autocrlf = false
  editor = vim
  excludesfile = ~/.gitignore
  filemode = false
  fscache = true
  repositoryformatversion = 0
  whitespace = cr-at-eol
[alias]
  a = commit --amend --no-edit
  co = checkout
  d = diff --full-index
  dw = diff --full-index --word-diff=color --word-diff-regex=.
  lg = log --graph --pretty=format:'%Cred%h%Creset - %C(cyan)<%an>%Creset %C(yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit --color -n 10
  rc = rebase --committer-date-is-author-date -i
  re = rebase
  rr = rebase --committer-date-is-author-date -i @{u}
  s = status -s -u --branch
  sho = show --color --full-index --ignore-space-change
  stat = status -s -u --branch
[push]
  default = current
[rerere]
  enabled = true
[pull]
  rebase = true
[fetch]
  prune = true
[diff]
  ignoreSubmodules = dirty
  renameLimit = 999999
[merge]
  renameLimit = 999999
[pager]
  diff = false
  log = false
  show = false
[init]
	defaultBranch = main
[includeIf "gitdir:~/.tech/"]
  path = ~/home/.gitconfig-home
[includeIf "gitdir:~/home/"]
  path = ~/home/.gitconfig-home
[color]
  diff = always
  status = always
